@media (max-width:3000px){
    .DIV{
        display: flex;
        justify-content: center;
    }
    .our_works_photoes{
        width: 50%;
        height: auto;
    }
    p.df.dfjc.About_us_p{
        font-size:40px;
    }
    p.our_works_p{
        font-size: 40px;
}
}

@media (max-width: 1550px){
    div#div_in_price{
        width:20%;
    }
    *{
        box-sizing: unset;
    }
}
@media (max-width: 1200px){
    .div_porvanka{
        width:60%;
    }
    .autro_text{
        width:75%;
    }
    .start_position_p{
        font-size:25px;
        line-height: 1;
    }
    h1{
        margin-left:40px;
    }
}
@media (max-width:998px){
    #h1_in_intr{
        width:75%;
    }
    .div_porvanka{
        width: 70%;
    }
    .start_position_p{
        font-size:22px;
        font-weight: 600;
    }
    .image_ds{
        display: flex;
        padding-bottom: 30px;
    }
    .autro_text{
        width:80%;
    }
    .our_works_photoes{
        width: 100%;
        height: 200px;
        transition-duration: 1s;
    }
    .our_works_photoes:hover{
        flex:auto;
        transform: all;
        transition-duration: 1s;
        scale:1.3;
    }
}
@media (max-width: 975px) {
    .header__burger-btn {
        display: block;
    }
    .menu {
        position: absolute;
        left: -350px;
        top: 0;
        width: 350px;
        background-color: black;
        padding: 75px 20px 20px 20px;
        transition: transform .5s;
    }
    .menu__list {
        display: block;
    }
    .menu__link {
        color: white;
        font-size: 21px;
        display: block;
        padding: 10px 0;
    }
    .header.open .menu {
        transform: translateX(100%);
    }
}
@media (max-width:800px){
    .menu{
        margin-left:-40px;
    }
    .menu__item{
        border:5px solid black;
        margin-bottom: 20px;
    }
}
@media (min-width:700px){
    div.flex_flex_flex{
        display:none;
    }
    #table_nav{
        display:block;
    }
}
@media (max-width:700px){
    #h1_in_intr{
        width:90%;
    }
    .img_photo_divan img{
        width:100%;
    }
    .div_porvanka{
        font-size:25px;
        width:90%;
    }
    div#div_in_price{
        width:60%;
    }
    .logo_imagine{
        width:20%;
        height:auto;
    }
    .start_position_p{
        font-size:30px;
        line-height: 1.5;
    }
    .start_position_p_grey{
        font-size:27px;
        font-weight: 300;
    }
    .autro_text{
        width:100%;
    }
    .our_works_photoes{
        width:75%;
        height:auto;
        border:1px solid black;
    }
    #dotted_nav{
        display:block;
    }
    #table_nav{
        display:none;
    }
}
@media (max-width:560px){
    #h1_in_intr{
        width:100%;
    }
}
@media (max-width:400px){
    div.img_photo_divan{
        display:flex;
        justify-content: center
    }
    img .img_photo_divan{
        width:80%;
    }
    .header{
        width:100%
    }
    #div_div_div_photo{
        width: 100%;
    }
    nav .nav_nav_div{
        border:3px dotted black;
        width: 90%;
        justify-content: center;
    }
    .menu{
        height: 300px;
    }
    h1.h1_in_in{
        font-size: 16px;
    }
    #h1_in_intr{
        font-size: 18px;
        width: 75%;
    }
    p.two_life_your_divan{
        font-size:8px;
    }
    div .div_porvanka{
        font-size:8px;
        width:50%;
    }
    div #div_in_price{
        width:30%;
        border:10px solid red;
    }
    #div_in_price:hover{
        width:30%;
        border:4px solid red;
    }
    .check_price1{
        font-size:6px;
    }
    p.df.our_premisions{
        font-size:10px;
    }
    .nav_nav_div{
        border:4px dotted black
    }
    .logo_imagine{
        width:30%;
        height: auto;
    }
    p.df.dfjc.About_us_p{
        font-size:22px;
    }
    .start_position_p{
        font-size: 12px;
        line-height: 1.2;
    }
    .start_position_p_grey{
        font-size: 10px;
    }
    .autro_text{
        font-size:8px;
        width: 70%;
    }
    p.our_works_p{
        font-size:20px;
    }
    .presention{
        font-size: 8px;
    }
    .contact_p1{
        font-size:16px;
    }
    .contact_p2{
        text-align: center;
        font-size: 13px;
    }
    .contact_p3{
        font-size: 15px;
    }
    .header__burger-btn span {
        width: 30px;
        height: 2.5px;
    }
}
@media (max-width:300px){
    .header__container{
        margin-right:20px;
    }
    .header__burger-btn {
        display: block;
    }
    .menu {
        position: absolute;
        left: -350px;
        top: 0;
        width: 300px;
        height: 300px;
        background-color: black;
        padding: 75px 30px 20px 20px;
        transition: transform .5s;
    }
    .menu__list {
        display: flex;
        flex-direction: column;
    }
    .menu__link {
        color: white;
        font-size: 12px;
        display: block;
        padding: 10px 0;
    }
    .header.open .menu {
        transform: translateX(100%);
    }
    .menu__link {
        font-size:12px;
    }
    .header__burger-btn{
        width:15px;
        height: 15px;
    }
    .header{
        width:100%;
        display:flex;
        padding:20px 5px
    }
    h1.h1_in_in{
        margin:0;
        font-size:10px;
        font-weight: 500;
    }
    #h1_in_intr{
        font-size: 18px;
        width: 100%;
    }
    p.two_life_your_divan{
        font-size:10px;
    }
    div .div_porvanka{
        font-size:10px;
        width:80%;
    }
    #div_in_price{
        width:60%;
    }
    #div_in_price:hover{
        width:40%;
        border:5px solid red;
    }
    a.nd.dfjc.check_price1{
        font-size:8px;
    }
    p.df.our_premisions{
        font-size:15px;
    }
    .nav_nav_div{
        border:2px dotted black
    }
    .logo_imagine{
        width:20%;
        height: auto;
    }
    .start_position_p{
        font-size: 12px;
        line-height: 1.5;
    }
    .start_position_p_grey{
        font-size: 8px;
    }
    .autro_text{
        font-size:14px;
        width:100%;
    }
}
@media (max-width:200px){
    .header__container{
        margin-right:0px;
        padding-top: 0px;
    }
    .menu__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav_nav_div{
        border:5px dotted black;
        width: 85%;
    }
    .menu{
        height: 250px;
        padding:20px;
        width: 290px;
    }
    .menu__item{
        border:none;
        margin-bottom: 5px;
    }
    .check_price{
        padding-left:20px;
    }
    .check_price p{
        border:9px solid #009975;
        font-size:6px;
    }
    h1.h1_in_in{
        font-size: 8px;
    }
    #h1_in_intr{
        font-size: 12px;
    }
    p.two_life_your_divan{
        font-size:8px;
    }
    div .div_porvanka{
        font-size:8px;
        width: 100%;
    }
    div #div_in_price{
        width:80%;
    }
    #div_in_price:hover{
        width:80%;
        border:5px solid red;
    }
    .check_price1{
        font-size:6px;
    }
    p.df.our_premisions{
        font-size:9px;
    }
    .nav_nav_div{
        border:2px dotted black;
    }
    .flex_flex_flex{
        display:flex;
        justify-content: center;
    }
    .logo_imagine{
        width:30%;
        height: auto;
    }
    p.df.dfjc.About_us_p{
        font-size:22px;
    }
    .start_position_p{
        font-size: 8px;
        line-height: 1.2;
    }
    .start_position_p_grey{
        font-size: 6px;
    }
    .autro_text{
        font-size:8px;
    }
    .our_works_p{
        font-size:16px;
    }
    .presention{
        font-size: 12px;
    }
    .contact_p1{
        font-size:16px;
    }
    .contact_p2{
        text-align: center;
        font-size: 9px;
        margin-right: 10px;
    }
    .contact_p3{
        font-size: 10px;
        margin-right:10px
    }
    .header__burger-btn span {
        width: 20px;
        height: 2.5px;
    }
    #div_div_div_photo{
        width: 90%;
    }
}