*{
    margin:0;
    padding:0;
}

.dfjc{
    display:flex;
    justify-content: center;
}

.df{
    color:black
}

.nd{
    text-decoration: none;
}

body{
    font-family: 'Montserrat',Arial,sans-serif;
    color:white;
    line-height: 1.5;
    font-size:1rem
}
.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:30px 15px;
    box-sizing: border-box;
    background: black;
}
.menu{
    list-style:none;
    display:inline-block
}
.menu li{
    margin-left:40px;
    display:inline-block;
}
.menu li a{
    color:white;
    text-decoration: none;
}
.menu li a:hover{
    transition:all;
    transition-duration: 1s;
    color:red;
}

.header a h1{
    color:white;
}
.check_price p{
    background-color: #009975;
    border:12px solid #009975;
    border-radius: 15px;
    font-weight: 600;
}
.menu li a p:hover{
    transition:all;
    transition-duration: 1s;
    color:wheat;
}
.main1{
    background: white center center no-repeat; 
    background-size: cover;
    padding:100 0 145 0;
    padding-bottom:105px;
}
.h1_in_intro{
    display:flex;
    justify-content: center;
    color:black;
    text-align:center;
    font-size:54px;
    font-weight: 600;
    line-height: 1;
    word-wrap:break-word;
}
#h1_in_intr{
    width:50%;
}
.Intro{
    padding-top:133px;
}
.Intro p{
    padding-top:70px;
    text-align:center;
    font-size: 15px;
    font-weight: 200;
    color:#7a7a7a;
}

.img_photo_divan{
    text-align: center;
}
.img_photo_divan img{
    padding-top: 50px;
    width:45%;
    height:auto;
}

.opisanie_polomki{
    margin-top:90px;
    display:flex;
    justify-content: center;
    font-size:large;
}
.div_porvanka{
    text-align: center;
    width:40%;
}

.d-d-d{
    margin-top:60px;
}
.our_premisions{
    text-align: center;
    font-size: 54px;
    font-family: 'Montserrat',Arial,sans-serif;
    font-weight: 600;
    color: #000000;
}
.imgphotoes{
    width:5%;
    height:auto;

}

.nav{
    display: block;
    justify-content: flex-start;
}

.img_photos{
    width:40%;
    height:auto;
    
}